[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
tensorflow-probability = "*"
jupyterlab = "*"

[requires]
python_version = "3.7"

[dev-packages]
